# Android
.gradle/
.idea/
local.properties
/mobile-android/build/
/mobile-android/app/build/
*.iml

# React
node_modules/
/frontend-web/dist/
/frontend-web/build/
.env

# Sistema
.DS_Store
Thumbs.db
/bin/
